{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block title %}
    {% endblock %}
</head>


<body>
{% include "layouts/Navbar.html" %}

<main class="container mt-5">
    <div class="row mt-5">
        <div class="col-9 pr-sm-5 mb-sm-5">
            <div class="container-content-name">
            {% block content_name %}
            {% endblock %}
            </div>

            {% block content %}
            {% endblock %}
        </div>

        <div class="col">
            {% include "layouts/AsideBar.html" %}
        </div>
    </div>
</main>

<script src="{% static 'js/bootstrap.min.js' %}">
    function displayFilePath() {
        const fileInput = document.getElementById("file-upload");
        const filePath = document.getElementById("file-path");
        filePath.value = fileInput.files[0]?.name || "";
    }
</script>
</body>