{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    <title>List</title>
{% endblock %}

{% block content_name %}
    <div class="content-name">New Questions</div>
    <a href=" {% url 'QuestionsHot' %} ">Hot Questions</a>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-3">
        {% for question in questions %}
            {% include 'layouts/question.html' %}
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example" class="mt-3">
        {% include 'layouts/pagination.html' %}
    </nav>
{% endblock %}


